/* src/components/Register.css */

body {
    background-color: #141414; /* Fondo oscuro como Netflix */
    font-family: 'Helvetica Neue', 'Arial', sans-serif; /* Tipografía estilo Netflix */
}

.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.register-card {
    background-color: #2c2c2c; /* Fondo de tarjeta */
    border-radius: 8px;
    padding: 2rem;
    width: 400px; /* Ancho de la tarjeta */
    box-shadow: 0 4px 20px rgba(0,0,0,0.5); /* Sombra para dar dimensión */
}

.logo {
    height: 60px; /* Ajusta el tamaño del logo */
    margin-bottom: 20px; /* Espacio inferior */
}

.input-container {
    position: relative;
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 15px 10px;
    border: 1px solid #555; /* Borde oscuro */
    border-radius: 5px; /* Bordes redondeados */
    background-color: #333; /* Fondo oscuro del campo */
    color: white; /* Texto blanco */
    outline: none;
    transition: border-color 0.2s;
}

.input-field:focus {
    border-color: #e50914; /* Cambia el color del borde al enfocar */
}

.label {
    position: absolute;
    left: 10px;
    top: 15px;
    transition: 0.2s ease all;
    color: #bbb; /* Color del texto del label */
    pointer-events: none; /* Impide que el usuario haga clic en el label */
    font-size: 16px; /* Tamaño normal del label */
}

.input-field:focus + .label,
.input-field:not(:placeholder-shown) + .label {
    top: -10px; /* Mueve el label arriba */
    left: 10px; /* Mantiene el label alineado */
    font-size: 12px; /* Cambia el tamaño del label */
    color: #e50914; /* Cambia el color del label al enfocar */
}

.error-message {
    color: red; /* Mensaje de error en rojo */
    margin-bottom: 15px;
}

.register-button {
    width: 100%;
    padding: 10px;
    background-color: #e50914; /* Color de fondo rojo de botón */
    color: white; /* Texto blanco del botón */
    border: none;
    border-radius: 5px; /* Bordes redondeados del botón */
    cursor: pointer;
    transition: background-color 0.2s;
}

.register-button:hover {
    background-color: #f40612; /* Color de fondo al pasar el ratón */
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.divider hr {
    flex-grow: 1;
    border: 1px solid #555; /* Color del borde */
}

.login-link {
    text-align: center;
    color: white; /* Texto blanco */
}

.login-link-text {
    color: #e50914; /* Color rojo del enlace */
    font-weight: bold;
}

.login-link-text:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}